.text-area {
    padding-left: 15px;
    margin-left: 8vw;
    font-size: 15px;
    max-height: 300px;
    min-height: 100px;
    min-width: 45vw;
    max-width: 45vw;
    margin-left: 5px;
}