$color-rose-10: #fce2f16a;
$color-rose-20: #f593cd;
$color-rose-30: #f27bc2;
$color-rose-40: #f064b7;
$color-rose-50: #ee4cac;
$color-rose-60: #eb35a1;
$color-rose-70: #e91e96;
$color-rose-80: #e91e85;
$color-rose-90: #e91e74;
$color-rose: #e91e63;
$color-rose-110: #e91e52;
$color-rose-120: #e91e41;
$color-rose-130: #e91e30;

$color-info-10: #ddfffa74;
$color-info-70: #00c1a6;
$color-info-80: #00c1b6;
$color-info-90: #00bcc1;
$color-info: #00acc1;
$color-info110: #009cc1;
$color-info120: #008cc1;
$color-info130: #007ec2;

$color-danger-40: #fccbc8;
$color-danger-50: #fbb4af;
$color-danger-60: #f99e97;
$color-danger-70: #f8877f;
$color-danger-80: #f77066;
$color-danger-90: #f55a4e;
$color-danger: #f44336;
$color-danger-110: #f32c1e;
$color-danger-120: #ea1c0d;
$color-danger-130: #d2190b;

$color-white: #ffffff;
$color-black: #000000;

$color-gray: #d4d4d8;
$color-gray-50: #fafafa;
$color-gray-100: #f4f4f5;
$color-gray-200: #e4e4e7;
$color-gray-300: #d4d4d8;
$color-gray-400: #a1a1aa;
$color-gray-500: #71717a;
$color-gray-600: #52525b;
$color-gray-900: #18181b;
